@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    margin: 5vw 10vw 10vw;
    font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-weight: inherit;
    margin-bottom: 0.25em;
}

.week-header {
    color: #666;
    font-size: 11pt;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.week-header > *:first-child {
    margin-left: -1.75em;
}

.week-header > *:first-child:before {
    content: none;
}

.week-header > *:before {
    content: '\00b7  ';
}

.week-header__live {
    opacity: inherit;
    transition: opacity 1s;

}

.week-header__live-hidden {
    opacity: 0;
    transition: opacity 1s;
}

.columns {

}

.columns__column {
    display: inline-block;
    width: 35vw;

    vertical-align: top;
}

.columns__column:first-child {
    margin-right: 5em;
}

.counters {
    margin-top: 4em;
}

.counters a {
    color: inherit;
}

.counters__counter:first-child {
    margin-right: 3em;
}

.counters__counter {
    display: inline-block;

    vertical-align: top;
}

.counters__counter__value {
    display: block;
    margin-left: -0.05em;
    margin-bottom: -.15em;

    font-size: 4em;
}

.counters__counter__note {
    font-size: 10pt;
}

.chart {
    margin: 1em 0;
    height: 140px;
}

.chart__bar {
    fill: none;
}

.chart__bar_selected {

}

.chart__bar_one {
    fill: #eee;
}

.chart__bar_selected .chart__bar_one {
    fill: #beeb9f;
}

.chart__bar_two {
    fill: #ddd;
}

.chart__bar_selected .chart__bar_two {
    fill: #79bd8f;
}

.chart__bar_three {
    fill: #ccc;
}

.chart__bar_selected .chart__bar_three {
    fill: #ccc;
}

.chart__bar_four {
    fill: #bbb;
}

.chart__bar_selected .chart__bar_four {
    fill: #bbb;
}

.chart__bar__text {
    fill: #aaa;

    font-size: 10pt;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.chart__bar_selected .chart__bar__text {
    fill: #fff;
}

.chart__x-scale-line {
    fill: #ccc;
}

.chart__x-scale-date {
    opacity: 0.5;

    font-size: 10pt;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sign {
    opacity: 0.5;
}

.sign:before {
    content: '\2009\2009';
}