@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    margin: 50px 150px;
    font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-weight: inherit;
    margin-bottom: 0;
}

.week-header {
    font-size: 11pt;
    letter-spacing: 0.25em;
    line-height: 3em;
    text-transform: uppercase;
}

.week-header__days:before {
    content: '\00b7  ';
}

.week-header__days {
    opacity: 0.5;
}

.columns {

}

.columns__column {
    display: inline-block;
    width: 35vw;

    vertical-align: top;
}

.counters {
    margin-top: 3em;

.counters a {
    color: inherit;
}
}

.counters__counter {
    display: inline-block;
    margin-right: 3em;

    vertical-align: top;
}

.counters__counter__value {
    display: block;
    margin-left: -0.05em;
    margin-bottom: -.15em;

    font-size: 4em;
}

.counters__counter__note {
    font-size: 10pt;
}

.chart {
    margin-top: 2em;
}

.chart__bar {

}

.chart__bar_selected {

}

.chart__bar_sales {
    fill: #eee;
}

.chart__bar_selected .chart__bar_sales {
    fill: #beeb9f;
}

.chart__bar_guests {
    fill: #ddd;
}

.chart__bar_selected .chart__bar_guests {
    fill: #79bd8f;
}

.chart__x-scale-line {
    fill: #ccc;
}

.chart__x-scale-date {
    opacity: 0.5;

    font-size: 10pt;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sign {
    opacity: 0.5;
}

.sign:before {
    content: '\2009\2009';
}