@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    margin: 50px 150px;
    font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-weight: inherit;
    margin-bottom: 0;
}

.week-header {
    font-size: 11pt;
    letter-spacing: 0.25em;
    line-height: 3em;
    text-transform: uppercase;
}

.week-header__days:before {
    content: '\00b7  ';
}

.week-header__days {
    opacity: 0.5;
}

.columns {

}

.columns__column {
    display: inline-block;
    width: 35vw;

    vertical-align: top;
}

.counters {
    margin-top: 4em;
}

.counters a {
    color: inherit;
}

.counters__counter:first-child {
    margin-right: 3em;
}

.counters__counter {
    display: inline-block;

    vertical-align: top;
}

.counters__counter__value {
    display: block;
    margin-left: -0.05em;
    margin-bottom: -.15em;

    font-size: 4em;
}

.counters__counter__note {
    font-size: 10pt;
}

.chart {
    margin: 2em 0;
    height: 100px;
}

.chart__bar {
    fill: none;
}

.chart__bar_selected {

}

.chart__bar_one {
    fill: #eee;
}

.chart__bar_selected .chart__bar_one {
    fill: #beeb9f;
}

.chart__bar_two {
    fill: #ddd;
}

.chart__bar_selected .chart__bar_two {
    fill: #79bd8f;
}

.chart__bar_three {
    fill: #ccc;
}

.chart__bar_selected .chart__bar_three {
    fill: #ccc;
}

.chart__bar_four {
    fill: #bbb;
}

.chart__bar_selected .chart__bar_four {
    fill: #bbb;
}

.chart__bar__text {
    fill: #aaa;

    font-size: 10pt;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.chart__bar_selected .chart__bar__text {
    fill: #fff;
}

.chart__x-scale-line {
    fill: #ccc;
}

.chart__x-scale-date {
    opacity: 0.5;

    font-size: 10pt;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sign {
    opacity: 0.5;
}

.sign:before {
    content: '\2009\2009';
}

.form {
    margin-top: 6em;

    font-size: 10pt;

    opacity: 0.25;
    transition: opacity 0.5s;
}

.form a {
    color: inherit;
    text-decoration: none;
}

.form:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.form_upload {
    visibility: hidden;
}


/* Spinner animation via http://tobiasahlin.com/spinkit/ */

.spinner {
    display: inline-block;
    margin-left: 1em;
    text-align: center;
}

.spinner_hidden {
    display: none;
}

.spinner > div {
    width: 6px;
    height: 6px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
